apiVersion: v1
clusters:
- cluster:
    certificate-authority: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
    server: https://kubernetes.default:443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: discovery-operator-user
  name: /kubernetes/discovery-operator-user
current-context: /kubernetes/discovery-operator-user
kind: Config
preferences: {}
users:
- name: discovery-operator-user
  user:
tokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
